*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
   
}
html{
    height: 100%;
}

.pagina
{   
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("imagini/fundalConectare.jpg");
    padding-bottom: 4rem;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundalFormular{
    padding: 3rem 5rem 2rem 5rem;
    background-color: rgba(255, 255, 255, 0.7);
}  
form{
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-size: 35px;  
    display: flex;
    flex-direction: column;

}

.pep{
    padding-top: 4rem ;
    font-size: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;  
    
}
.titlu{
    text-align: center;
    font-size: 70px;
    padding-bottom: 3rem;
    
}
.titluDeConectare{
    padding: 2rem 0 1rem 0;
    text-align: center;
    font-size:30px;
    text-transform: uppercase;
    color: black;
     
}

.rubrici{
    margin-top: 0.5rem;
    background-color:white;
    font-size: 15px;
    
    font-weight: bolder;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    text-align: center;
}

.buton{
   margin-top: 1rem;
    background-color:white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
}
.sau{
    text-align: center;
    color: black;
    font-size: 30px;
}
.inregistrare {
    text-align: center;
    font-size: 25px;
    padding: 0.7rem 0 0 0 ;
   
}
.inregistrare a{
    text-decoration: none;
    color: white;
}
.inregistrare a:hover{
    text-decoration: none;
    font-size: 30px;
    color:black;
}